.App {
  text-align: center;
  scrollbar-width: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.scroll_text {
  padding: 0;
  margin-top: 6px;
  text-align: left;
  text-overflow: clip;
  white-space: nowrap;
  overflow: scroll;
  scrollbar-width: none;
}

.scroll_text::-webkit-scrollbar {
  display: none;
}

.scroll_text a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black
}

.scroll_text a:hover {
  color: blue;
}

p.scroll_text {
  padding: 0;
  margin-top: 6px;
  scrollbar-width: none;
}
